body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
    height: 100vh;
    background-image: url("img/kolorado_Festival2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    animation-name: changeBg;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

.player {
    width: auto;
    align-items: center;
    margin-top: 15px;
    animation-name: fadein;
    animation-duration: 1s;
}

@keyframes fadein {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes changeBg {
    0% {
        background-image: url("img/kolorado_Festival2.jpg");
    }
    50% {
        background-image: url("img/kolorado_Festival1.jpg");
    }
    100% {
        background-image: url("img/kolorado_Festival2.jpg");
    }

}